<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>ems</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>employeelist</display-name>
    <servlet-name>employeelist</servlet-name>
    <servlet-class>servlet.employeelist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employeelist</servlet-name>
    <url-pattern>/employeelist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeelistServlet</display-name>
    <servlet-name>EmployeelistServlet</servlet-name>
    <servlet-class>servlet.EmployeelistServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeelistServlet</servlet-name>
    <url-pattern>/EmployeelistServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeRegistration</display-name>
    <servlet-name>EmployeeRegistration</servlet-name>
    <servlet-class>servlet.EmployeeRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeRegistration</servlet-name>
    <url-pattern>/EmployeeRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentRegistrationServlet</display-name>
    <servlet-name>DepartmentRegistrationServlet</servlet-name>
    <servlet-class>servlet.DepartmentRegistrationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentRegistrationServlet</servlet-name>
    <url-pattern>/DepartmentRegistrationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DepartmentListServlet</display-name>
    <servlet-name>DepartmentListServlet</servlet-name>
    <servlet-class>servlet.DepartmentListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DepartmentListServlet</servlet-name>
    <url-pattern>/DepartmentListServlet</url-pattern>
  </servlet-mapping>
</web-app>